<section class="search-tourist-spots">
  <form [formGroup]="searchForm">
    <div class="row align-items-center justify-content-center gap-3 gap-lg-0">
      <div class="col-12 col-md-6 col-lg-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Visit Date</mat-label>
          <input 
            matInput 
            [min]="minDate" 
            [max]="maxDate" 
            [matDatepicker]="picker" 
            (click)="picker.open()" 
            placeholder="Visit date"
            formControlName="visitDate"
            (dateChange)="onVisitDateChange()"
            required />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="searchForm.get('visitDate')?.invalid">
            Visit date is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <button 
          mat-raised-button 
          color="primary" 
          class="w-100" 
          [disabled]="!searchForm.valid" 
          (click)="submitSearch()">
          Search
        </button>
      </div>
    </div>
  </form>
</section>
