.tourist-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
.tourist-card .btn{
          font-size: 0.85rem;
        padding: 0.4rem 0.5rem;
}
}
.info-items{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  align-items: flex-end;
    @media (max-width: 768px) {
      display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    }
}
.containerg {
  position: relative;

  .card-containerg {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      flex: 1 0 auto;
      border: 0;
      box-shadow: unset;
      padding-left: 0;
      margin-bottom: 0;

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .scroll-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    color: yellow;

    &.left {
      left: 10px;
    }

    &.right {
      right: 0;
    }
  }

  .tooltip {
    position: absolute;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.left {
      left: 1%;
    }

    &.right {
      right: 1%;
    }
  }
}

.btn-outline-primary {
  &:hover {
    color: #fff !important;
    border-color: #fff !important;
  }
}
