.booking-card {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);
  }
}

.nav-pills {
  .nav-link {
    color: #6c757d;
    font-weight: 500;
    transition: all 0.3s;
    
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
    
    &.active {
      background-color: hsl(90, 100%, 30%);
      color: white;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}

button.btn-primary, button.btn-secondary {
  &:focus, &:active {
    box-shadow: none !important;
  }
}

.min-vh-25 {
  min-height: 25vh;
}

.sticky-filter {
  position: sticky;
  top: 100px;
  z-index: 1020;
  background-color: #fff;
  padding: 15px 0;
  border-radius: 8px;
    @media (max-width: 768px) {
      top: 90px;
    }
}
